.big {
    span {
        width: 500px;
        height: 72px;
        line-height: 72px;
        font-size: 36px;
        font-weight: bold;
        float: right;
        margin-right: 120px;
        margin-top: 10px;
        text-align: center;
    }

    
}