body {
    
    background-color: #F5F7F9;
}
.follow {
    // margin-top: 88px;
    // text-align:center;
    // font-size: 28px;
    // line-height: 40px;
    // color: #999999;
    // padding-top:20px;
    // height: 100%;




    position: absolute;
    left: 0;
    right: 0;
    max-width: 1200px;
    -webkit-overflow-scrolling: touch;
    margin: 88px auto 0;
    padding: 0;
    overflow-y: scroll;
}
.noFollow {
    font-size: 28px;
    line-height: 40px;
    color: #999999;
    margin: 10px auto;
    text-align: center;
}