.bigNews {
    width: 750px;
    height: 170px;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid #E7E2E5;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 88px;
    background-color: red;
}
.smallNews {
    width: 2242px;
    height: 170px;
    background-color: orange;
    padding-left: 30px;
}