// body{
//     background-color: #fff;
// }
.item {
    width: 690px;
    padding: 0 30px;
    background-color: #fff;
    margin-top: 40px;
    section {
        width: 324px;
        height: 610px;
        overflow: hidden;
        vertical-align: top;
        padding-bottom: 24px;
        box-sizing: border-box;
        margin-right: 20px;
        float: left;
        background-color: #fff;

        img {
            width: 324px;
            height: 470px;
            border-radius: 2%;
        }

        div {
            margin: 0;
            background-color: #fff;
            color: #4A4945;
            font-weight: bold;
            font-size: 28px;
            width: 320px;
            height: 68px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}