.main {
    width: 100%;
    color: #4A4945;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 100px;
    background-color: #fff;
    margin-top: 80px;

    .cla {
        width: 750px;

        h2 {
            font-size: 34px;
            padding: 25px 0 10px 15px;
            color: #333;
            margin: 0;
        }

        .xxx {
            width: 750px;
            height: 540px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            div {
                section {
                    width: 320px;
                    height: 540px;
                    margin: 0 0 0 15px;
                    display: inline-block;
                    position: relative;
                    img {
                        width: 320px;
                        height: 450px;
                        display: block;
                        border-radius: 2%;
                    }

                    i {
                        display: inline-block;
                        width: 120px;
                        height: 30px;
                        line-height: 30px;
                        background-color: #fff;
                        font-size: 22px;
                        padding: 2px 4px;
                        position: absolute;
                        left: 25px;
                        bottom: 100px;
                    }

                    h3 {
                        margin: 0;
                        color: #4A4945;
                        font-weight: bold;
                        font-size: 28px;
                        width: 320px;
                        height: 80px;
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp:2; 
                        -webkit-box-orient:vertical;
                    }
                }
            }
        }


    }
}
